.alert-danger {
    color: red;
    background-color: transparent;
    border: none;
}
.alert-fix {
    padding: 0 0;
    margin-bottom: -10px;
}
label.is-invalid {
    color: red; /* Đổi màu chữ thành đỏ khi có lỗi */
}
.alert-fix-file {
    margin-top: -10px;
}
